@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 350 72% 41%;
    /* #b41d38 */

    --card: 0 0% 100%;
    --card-foreground: 350 72% 41%;

    --popover: 0 0% 100%;
    --popover-foreground: 350 72% 41%;

    --primary: 350 72% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 350 72% 41%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 40%;

    --accent: 350 72% 41%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 0% 100%;
    --destructive-foreground: 350 72% 41%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 350 72% 41%;

    --radius: 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-admaf-black font-sans selection:bg-admaf-red selection:text-white;
  }
}


/* Custom Utilities for Strict Mode */
.bg-cultural-pattern {
  background-image: radial-gradient(circle at 1px 1px, #b41d38 1px, transparent 0);
  background-size: 40px 40px;
  opacity: 0.05;
}

/* Hide Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}